// ==========================================================================
// Placeholders
// ==========================================================================

// Nav Items
%nav-item-hover{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

%nav-item-disp {
  display: inline-block;
  margin: 0 em(12px);
  text-transform: lowercase;
}

%nav-item-link {
  font-size: em(20px);
  font-weight: $font-weight--light;
  display: block;
  padding: em(8px, 18px);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  letter-spacing: 4px;
  position: relative;
  line-height: em(16px, 16px);
  &:after{
    @extend %nav-item-hover;
  }
}

%nav-item-on {
  color: palette(black);
  border-color: $black;
}

// Headlines

%hdln-prim {
  color: darken($bc-carnation, 15%);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px black;
  font-size: em(100px, 16px);
  font-family: $font-family--primary;
}

%hdln-sec {
  letter-spacing: $letter-space;
  font-weight: $font-weight--thin;
  font-size: em(20px);
  font-family: $font-family--secondary;
}
%hdln-rest{
  color: palette(grey, light);
  letter-spacing: $letter-space;
  font-weight: $font-weight--thin;
  font-family: $font-family--secondary;
}

// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  color: $white;
  text-transform: uppercase;
  font-size: em(14px);
  letter-spacing: 1px;
  font-weight: $font-weight--bold;
  transition: opacity $trns-duration;
  display: block;
  &:active {
    opacity: initial;
  }
}
%btn__primary{
  position: relative;
  overflow: hidden;
  background-color: transparent;
  @include transition(all 0.25s ease-in);
}
%btn__secondary{
  @include transition(all 0.25s ease);
  color: white;
  position: relative;
  overflow: hidden;
}
%btn__after{
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  transform: skewX(45deg);
}
// Icons

%icn--ui {
  line-height: 0;
  cursor: pointer;
}