// ==========================================================================
// Headlines
// ==========================================================================
.headline {
  &-primary {
    @extend %hdln-prim;
    &__grouped {
      @extend %hdln-prim;
      margin-bottom: 0;
    }
  }
  &-secondary {
    @extend %hdln-sec;
    margin-bottom: em(22px, 24px);
    color: palette(grey, light);
    &__grouped {
      @extend %hdln-sec;
      color: darken($color-primary, 10%);
      margin-top: em(10px, 24px);
      margin-bottom: em(54px, 24px);
    }
  }

}