// ==========================================================================
// Headlines
// ==========================================================================
.headline {
  &-primary {
    @extend %hdln-prim;
    &__grouped {
      @extend %hdln-prim;
      margin-bottom: 0;
      line-height: 1em;
    }
  }
  &-secondary {
    @extend %hdln-sec;
    margin-bottom: em(22px, 24px);
    color: palette(grey, light);
    &__grouped {
      @extend %hdln-sec;
      color: white;
      text-shadow: 1px 1px 4px black;
      margin: 0;
    }
  }
}