// ==========================================================================
// Nav
// ==========================================================================

.menu-toggle {
  border-top: solid em(2px) palette(grey);
  border-bottom: solid em(2px) palette(grey);
  height: em(20px);
  width: em(24px);
  display: inline-block;
  position: relative;
  cursor: pointer;
  @media (min-width: 600px){
    display: none;
  }
  &:after {
    display: inline-block;
    content: " ";
    width: 100%;
    border-bottom: em(2px) palette(grey) solid;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: em(-1px);
  }
}

.nav {
  @media (min-width: 601px) and (max-width: 800px) {
    font-size:  .8em;
  }
  font-family: $font-family--primary;
  @media (max-width: 600px){
    display: none;
  }
  @media (min-width: 601px){
    display: block !important;
  }

  &__item {
    @extend %nav-item-disp;
    @media (min-width: 1px) and (max-width: 600px) {
      display: block;
    }
    &:after {
      content: ' ';
      position: absolute;
      right: 0;
      bottom: 50%;
      left: 0;
      border-bottom-color: transparent;
      @include transition(all 0.2s ease-out);
    }
    &:hover:after,
    &.current:after {
      bottom: 0;
      border-bottom: 1px solid palette(grey);
      @include transition(all 0.2s ease-out);
    }
    a {
      color: palette(grey);
      @extend %nav-item-link;
      & span {
        text-shadow: 0 0 0 transparent;
        @include transition(all 0.2s ease-out);
      }
      &:hover {
        color: palette(black);
        & span {
          text-shadow: 0 4px 1px palette(grey, light);
          @include transition(all 0.2s ease-out);
        }
      }
    }
    &.current {
      @extend %nav-item-disp;
      a {
        color: palette(black);
        @extend %nav-item-link;

      }
    }
  }
}
