@font-face {
    font-family: 'Triforce';
    src: url('/fonts/triforce-webfont.eot');
    src: url('/fonts/triforce-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/triforce-webfont.woff2') format('woff2'),
         url('/fonts/triforce-webfont.woff') format('woff'),
         url('/fonts/triforce-webfont.ttf') format('truetype'),
         url('/fonts/triforce-webfont.svg#triforcetriforce') format('svg');
    font-weight: normal;
    font-style: normal;
}

.quote{
  &-right{
    margin: em(32px, 24px) 0;
    padding: 0 5% 0 0;
    border-right: em(8px, 24px) solid palette(grey, xx-light);
    text-align: right;
  }
  &-left{
    margin: em(32px, 24px) 0;
    padding: 0 0 0 5%;
    border-left: em(8px, 24px) solid palette(grey, xx-light);
    text-align: left;

  }
}